body {
    background-image: url("https://img.freepik.com/free-vector/crystal-textured-background-illustration_53876-80624.jpg?size=338&ext=jpg")
}
.jumbotron {
    background-color: rgb(199, 209, 230);
    color: black;
    text-align: center;

}
h1, h2, h3 {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
}

.card-body p{
    font-size: small;
}
.card-title {
    text-align: center;
    font-weight: bold;
}

.card-body h2 {
    text-align: center;
}

img {
    width: 60px;
    margin-right: 20px;
    height: 60px;

}
.card-body{
    text-align: center;
}

#blue:hover {
box-shadow: 15px 15px 15px black;
cursor: pointer;
}
#navy:hover {
box-shadow: 15px 15px 15px black;
cursor: pointer;
}
#red:hover {
box-shadow: 15px 15px 15px black;
cursor: pointer;
}
#purple:hover {
box-shadow: 15px 15px 15px black;
cursor: pointer;
}