body {
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
.jumbotron {
    background-color: salmon;
    color: black;
    text-align: center;

}
h1 {
    font-family: 'Indie Flower', cursive;
}

.card-body p{
    font-size: small;
}
.card-title {
    text-align: center;
    font-weight: bold;
}

.card-body h2 {
    text-align: center;
}

img {
    width: 60px;
    margin-right: 20px;
    height: 60px;

}
.card-body{
    text-align: center;
}
